<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/" method="POST">
      <p>
        <input type="text" name="userName" placeholder="ID" value="">
      </p>
      <p>
        <input type="text" name="password" placeholder="password" value="">
      </p>
      <input type="submit" value="ログイン">
    </form>
  </body>
</html>
